{% extends 'base/base.html' %} {% block page_content %}
{% load static %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Inicio</h1>

        <!--Page content-->

        <div class="container" id="container-buttons">
            <div class="row">
              <div class="col">
                <div class="text-center">
                    <i class="fas fa-heart fa-lg" style="color:red"></i><br>
                    <a href="{% url 'solicitud:solicitud_list' %}" class= "btn btn-primary btn-user bg-gradient-primary text-gray-100" >Donar</a>
                </div>
              </div>
              <div class="col">
                <div class="text-center">
                    <i class="fas fa-map-marker-alt fa-lg" style="color: red;size: 10px;"></i><br>
                    <a href="{% url 'mapa:mapa_list' %}" class= "btn btn-primary btn-user bg-gradient-primary text-gray-100">Mapa</a>
                </div>
              </div>
              <div class="col">
                <div class="text-center">
                    <i class="fas fa-chart-line fa-lg" style="color: red; size: 5mm;"></i><br>
                    <button class= "btn btn-primary btn-user bg-gradient-primary text-gray-100">Reportes</button>
                </div>
              </div>
            </div>
        </div>

        <div class="container">
            <br><h4 class="text-gray-900 text-center"><strong>Profesionales</strong></h4>
            <!-- carrusel -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for veterinario in veterinarios %}
                            <div class="col">
                                <div class="text-center">
                                    {% if veterinario.logo %}
                                    <img class="img-profile rounded-circle" style="height: 120px;" src="{{veterinario.logo.url}}" alt="First slide">
                                    {% else %}
                                    <img class="img-profile rounded-circle"  style="height: 120px;" src="{% static 'base/img/undraw_profile.svg' %}">
                                    {% endif %}
                                    <h6 class="text-gray-900"><strong>{{veterinario.nombre}} {{veterinario.apellido}}</strong> </h6>
                                </div>
                            </div>
                            {% endfor %}
                            {% for clinica in clinicas %}
                            <div class="col">
                                <div class="text-center">
                                    {% if clinica.logo %}
                                    <img class="img-profile rounded-circle" style="height: 120px;" src="{{clinica.logo.url}}" alt="First slide">
                                    {% else %}
                                    <img class="img-profile rounded-circle"  style="height: 120px;" src="{% static 'base/img/undraw_profile.svg' %}">
                                    {% endif %}
                                    <h6 class="text-gray-900"><strong>{{clinica.nombre}}</strong> </h6>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>    
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
            </div>    
        </div>

        <div>
           <br><h4 class="text-gray-900 text-center"><strong>Organizaciones</strong></h4><br>
            <div class="row">
                {% for organizacion in organizaciones %}
               <div class="col">
                    <div class="text-center">
                        {% if organizacion.logo %}
                        <img class="img-profile rounded-circle" src="{{organizacion.logo.url}}" style="width:90px"><br>
                        {% else %}
                        <img class="img-profile rounded-circle"  style="height: 120px;" src="{% static 'base/img/undraw_profile.svg' %}">
                        {% endif %}
                        <h6 class="text-gray-900"><strong>{{organizacion.nombre}}</strong> </h6>
                    </div>
               </div>
               {% endfor %}
           </div>
        </div>

       
    </div>
    <!-- /.container-fluid -->

{% endblock %}

{% block js_page %} 
<script type="text/javascript">
    var $ = jQuery.noConflict();
    $('.carousel').carousel(); 

</script>
{% endblock %}




