{% extends 'base/base.html' %} {% block page_content %}

{% if messages %}
    {% for message in messages %}
    <div class="text-danger text-center">
        <div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            <strong> {{ message|safe }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>    
        </div>
    </div>
    
    {% endfor %}
{% endif %}

<div class="container">
    <div class="col-xl-10 col-lg-12 col-md-9 items-align-center">
        <h4 class="h3 mb-4 text-gray-900">Realizar Donación</h4>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="p-5">
                <form method="POST" class="user" >
                    {% csrf_token %}
                    <h6 class="text-gray-700 text-center">Donación de Insumos</h6>  
                    <div class="row" id="donacion">
                        <div clas="column">
                            <small class="text-danger">
                                {% if form.errors %}
                                     {% for field in form %}
                                         {% if field.errors %}
                                             {% for error in field.errors %}
                                                 {{ error|escape }}
                                             {% endfor %}
                                         {% endif %}
                                     {% endfor %}
        
                                     {% if form.non_field_errors%}
                                         {% for error in form.non_field_errors %}
                                             {{ error|escape }}
                                         {% endfor %}
                                     {% endif %}
                                 {% endif %}
                             </small>
                            <h6 class="text-gray-900"><strong>Datos del destinatario</strong></h6>
                            <label>Destinatario: </label>
                            {{Solicitud_insumo.uc.username}} {{Solicitud_insumo.uc.apellido}}
                            {% if Solicitud_insumo.uc.telefono %}
                            <br><label>Telefono de contacto: </label>
                            {{Solicitud_insumo.uc.telefono}}
                            {% else %}
                            <br><label>Email de contacto: </label>
                            {{Solicitud_insumo.uc.email}}
                            {% endif %}
                            {% if Solicitud_insumo.uc.direccion %}
                            <br><label>Domicilio de recepción: </label>
                            {{Solicitud_insumo.uc.direccion}}
                            {% endif %}

                            <h6 class="text-gray-900"><strong>Elementos a donar</strong></h6>
                                {{ Donacion.as_p }}
                        </div> 
                        {{captcha}}   
                    </div>
                    
                    <div class="alert alert-info" role="alert"> Tienes 10 días para concretar la donación, caso contrario no se agregará
                        a la cantidad recaudada.
                    </div>
                    <div class="border-top pt-3 text-right">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary"><span class="fa fa-undo"></span>
                            Cancelar</a>   
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-save"></span> 
                            Aceptar
                    </div>
                </form>

            </div>
            
        </div>
            

    </div>   
</div>




{% endblock %}
