<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="modal-header">
                <h4 class="modal-title text-gray-900">Creación de clínica</h4>
                <a href="{{ request.META.HTTP_REFERER }}" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form method="POST" action="{% url 'organizaciones:clinicas_new' %}"class="forms-inline">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="col-xl-6 col-md-6 mb-6">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nueva
                                    clínica</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <!-- <div class="row">
                                <div class="col-10">
                                    <div class="input-group">
                                        <input type="text" name="descripcion" maxlength="100" class="form-control"
                                            required id="id_descripcion" placeholder="Descripción"
                                            value="{% if obj %} {{ obj.descripcion }} {% endif %}">
                                        </input>
                                    </div>
                                </div> -->
                                <!-- <div class="col-2">
                                                <div class="form-group">
                                                    <label for="id_estado">Estado</label>
                                                    <input type="checkbox" name="estado" class="form-control" id="id_estado"
                                                    {% if obj.estado %} checked {% endif %} >
                                                </div>
                                            </div> -->
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary"><span class="fa fa-undo"></span>
                        Cancelar</a>
                    <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>