{% extends 'base/base.html' %} {% block page_content %}
{% load static %}
<div class="container text-center" style="text-align: center;margin-bottom: 20px;">
    {% if obj.logo %}
        <img class="img-profile rounded-circle" src="{{ obj.logo.url }}" style="width:150px; margin-bottom: 20px;">
            
    {% else %}
        <img class="img-profile rounded-circle" src="{% static 'base/img/undraw_profile.svg' %}" style="width:100px; margin-bottom: 20px;">
    {% endif %}
    <div class="row" style="margin-left: 450px;">
        <div class="col-xs">
            <h1 class="h3 text-gray-900">{{ obj.nombre }} {{obj.apellido}} </h1>
        </div>
        <div class="col-sm-2 btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=+549{{obj.whatsapp}}" target="_blank" style="float: left">
                <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="" style="width:50px;">
            </a>
        </div>
    </div>
    <h5>{{obj.descripcion}}</h5>
    <h6 class="m-0 font-weight-bold text-primary">Veterinario</h6>
</div>

<div class="container text-center">
    <div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
        <div class="card-body text-gray-900">
          <p class="card-text"><i class="fas fa-envelope-open-text"></i> Email: {{ obj.email }} </p>
        </div>
    </div>
    
    <div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
        <div class="card-body text-gray-900">
          <p class="card-text"><i class="far fa-clock"></i> Horario de atención: {{obj.get_dia_desde_display}} a {{obj.get_dia_hasta_display}} de {{obj.hora_desde}} a {{obj.hora_hasta}} hs </p>
        </div>
    </div>
    
    <div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
        <div class="card-body text-gray-900">
          <p class="card-text"><i class="fas fa-map-marker-alt"></i> Dirección: {{obj.direccion}} </p>
        </div>
    
        <div id='map' style='width: 100%; height: 400px;'></div>
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFyaWFsdXoiLCJhIjoiY2t2OG9jZmlhOXdtYjJvcWprYjhqOTFpaSJ9.vYDuCmCvJtO_hA6gYRUa5A';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [-68.8472, -32.8903], // starting position [lng, lat]
            zoom: 10 // starting zoom
        });
        // Create a new marker.
        const marker = new mapboxgl.Marker()
            .setLngLat(['{{coordenadas.longitud}}', '{{coordenadas.latitud}}'])
            .setPopup(new mapboxgl.Popup().setHTML("<p>{{obj.nombre}} {{obj.apellido}}<p><br> <p>{{obj.direccion}}</p>")) 
            .addTo(map);
        </script>
    </div>
</div>
{% endblock %}