{% extends 'base/base.html' %} {% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de veterinarios</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones</div>
                <button class="dropdown-item" onclick="abrir_modal_crear('{% url 'organizaciones:veterinarios_new' %}')" data-toggle="modal" data-target="#crear"><i class="far fa-calendar-plus"></i> Nuevo</button>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-warning" role="alert">No hay veterinarios</div>
        {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Descripción</th>
                <th>F. Creado</th>
                <th>F. Modif.</th>
                <th>Matricula</th>
                <th>Email</th>
                <th>Whatsapp</th>
                <th class="all">Acciones</th>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.apellido }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ item.matricula }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.whatsapp}}</td>
                    <td>
                        <button onclick="abrir_modal_edicion('{% url 'organizaciones:veterinarios_edit' item.id %}')" class="btn btn-warning btn-circle" role="button" data-toggle="modal" data-target="#edicion"><i class="far fa-edit"></i></button>
                        <button onclick="abrir_modal_eliminar('{% url 'organizaciones:veterinarios_del' item.id %}')" class="btn btn-danger btn-circle" role="button" data-toggle="modal" data-target="#eliminar"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<!-- Modal editar -->
<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" >
   
</div> 

<!-- Modal eliminar-->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" >
   
</div> 

<!-- Modal crear-->
<div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" >
   
</div> 

{% endblock %}

{% block js_page %} 
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show');
        });
    }

    function abrir_modal_eliminar(url){
        $('#eliminar').load(url, function(){
            $(this).modal('show');
        });
    }

    function abrir_modal_crear(url){
        $('#crear').load(url, function(){
            $(this).modal('show');
        });
    }    

</script>
{% endblock %}

