{% extends 'base/base.html' %} {% block page_content %}

<div class="container">
    <div class="col-xl-10 col-lg-12 col-md-9 items-align-center">
        <h4 class="h3 mb-4 text-gray-900">Cantidad de insumo</h4>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="p-5">
                <form method="POST" action="{% url 'insumo:cantidad_insumo_new' %}"class="forms-inline">
                    {% csrf_token %}
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center">Nueva Cantidad de
                        Insumo</div>
                        <div class="col-xl-6 col-md-6 mb-6">
                            <div class="row no-gutters align-items-center">
                                <div class="row">
                                    <!-- <div class="input-group">
                                        <input type="text" name="descripcion" maxlength="100" class="form-control"
                                                required id="id_descripcion" placeholder="Descripción">
                                        </input>
                                    </div> -->
                                    
                                    <!-- <div class="col-2">
                                                    <div class="form-group">
                                                        <label for="id_estado">Estado</label>
                                                        <input type="checkbox" name="estado" class="form-control" id="id_estado"
                                                        {% if obj.estado %} checked {% endif %} >
                                                    </div>
                                                </div> -->          
                                    {{ form.as_p }}
                                </div>
                            </div>
                        </div>
                    <div class="border-top pt-3 text-right">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary"><span class="fa fa-undo"></span>
                            Cancelar</a>   
                        <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}