{% extends 'base/base.html' %} {% block page_content %}

{% if messages %}
    {% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <i class="fas fa-check"></i>
        <strong> {{ message|safe }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>    
    </div>
    {% endfor %}
{% endif %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Listado de donaciones para realizar</h1>

        <!--Page content-->

        <div class="container" id="container-button">
            <div class="text-center">
                <div class="dropdown">
                    <button class="btn btn-primary btn-user bg-gradient-primary text-gray-100 dropdown-toggle" style="float: right;margin-bottom: 5px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Crear nueva solicitud de donación
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-width: 100%">
                        <a class="dropdown-item" href="{% url 'solicitud:solicitud_monetaria_new' %}">Solicitud Monetaria</a>
                        <a class="dropdown-item" href="{% url 'solicitud:solicitud_insumo_new' %}">Solicitud de Insumos</a>
                      </div>
                </div>
                <br>
            </div>
        </div><br> 
        
        {% if not solicitudes_monetarias and not solicitudes_insumos %}
        <div class="alert alert-warning" role="alert">No hay solicitudes</div>
        {% else %}
        <div class="card-deck">
            {% for solicitud_insumo in solicitudes_insumos %}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-gray-800">{{solicitud_insumo.titulo}}</h5>
                    <h6 class="card-subtitle">Donación de Insumos</h6>
                </div>
                <div class="card-body row">
                    <div class="column" id="Foto">
                        {% if solicitud_monetaria.pedido %}
                        <a href="{{ solicitud_monetaria.pedido.url }}">
                            <img class="img-profile" src="{{ solicitud_monetaria.pedido.url }}" style="width:100px">
                        </a>
                        {% endif %}
                    </div>
                    <div id="Destinatario">
                        <label class="text-gray-900"> Destinatario:  </label>
                        {% if solicitud_insumo.uc.username and solicitud_insumo.uc.apellido %}
                        <label >{{ solicitud_insumo.uc.username}} {{ solicitud_insumo.uc.apellido }} </label>
                        {% else %}
                        <label >{{ solicitud_insumo.uc.username}}</label>
                        {% endif %}
                        <br><label class="text-gray-900"> Direccion de recepción:</label>
                        <br><label> {{solicitud_insumo.uc.direccion}}</label>
                        {% if solicitud_insumo.uc.telefono %}
                        <br><label class="text-gray-900"> Telefono:  </label>
                        <label >{{ solicitud_insumo.uc.telefono }}</label>
                        {% else %}
                        <br><label class="text-gray-900"> Email:  </label>
                        <label >{{ solicitud_insumo.uc.email }}</label>
                        {% endif %}
                        <div id= "cantidad_recaudada">
                            <label class="text-gray-900"> Cantidad a recaudar:  </label>
                            {%  for cantidad_insumo in cantidades_insumos %}
                                {% if solicitud_insumo.id == cantidad_insumo.solicitud_insumo.id %}
                                    <ul>
                                        <li>{{ cantidad_insumo.cantidad }} {{ cantidad_insumo.insumo.nombre }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> 
                </div>
                <div class="card-footer">
                    <small class="text-muted">Fecha de publicación: {{solicitud_insumo.fc|date:"d/m/Y"}}</small>
                    <a href="{% url 'donacionV2:donacion_insumo_new' solicitud_insumo.id %}" type="button" class="btn btn-primary btn-user bg-gradient-primary text-gray-100" style="float: right;">Donar</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="card-deck">
            {% for solicitud_monetaria in solicitudes_monetarias %}
            <div class="card shadow w-50">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-gray-800">{{solicitud_monetaria.titulo}}</h5>
                    <h6 class="card-subtitle">Donación Monetaria</h6>
                </div>
                <div class="row card-body">
                    <div class="column" id="Foto">
                        {% if solicitud_monetaria.pedido %}
                        <a href="{{ solicitud_monetaria.pedido.url }}">
                            <img class="img-profile" src="{{ solicitud_monetaria.pedido.url }}" style="width:100px">
                        </a>
                        {% endif %}
                    </div>

                    <div id="Destinatario">
                        <label class="text-gray-900"> Destinatario:  </label>
                        {% if solicitud_monetaria.uc.username and solicitud_monetaria.uc.apellido %}
                        <label >{{ solicitud_monetaria.uc.username}} {{ solicitud_monetaria.uc.apellido }} </label>
                        {% else %}
                        <label >{{ solicitud_monetaria.uc.username}}</label>
                        {% endif %}
                        {% if solicitud_monetaria.uc.telefono %}
                        <br><label class="text-gray-900"> Telefono:  </label>
                        <label >{{ solicitud_monetaria.uc.telefono }}</label>
                        {% else %}
                        <br><label class="text-gray-900"> Email:  </label>
                        <label >{{ solicitud_monetaria.uc.email }}</label>
                        {% endif %}
                        <div id= "cantidad_recaudada">
                            <label class="text-gray-900"> Cantidad a recaudar:  </label>
                            <label >{{ solicitud_monetaria.monto }}</label>
                        </div>
                    </div> 
                </div>
                <div class="card-footer">
                    <small class="text-muted">Fecha de pulbicación: {{ solicitud_monetaria.fc|date:"d/m/Y" }}</small>
                    <a href="{% url 'donacionV2:donacion_monetaria_new' solicitud_monetaria.id %}"  type="button" class="btn btn-primary btn-user bg-gradient-primary text-gray-100" style="float: right;">Donar</a>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}
</div>
<!-- /.container-fluid -->
{% endblock %}