{% extends 'base/base.html' %} {% block page_content %}


<div class="container">
    <div class="col-xl-10 col-lg-12 col-md-9 items-align-center">
        <h4 class="h3 mb-4 text-gray-900">Nueva Solicitud de Donación</h4>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="p-5">
            <form method="POST" action="{% url 'solicitud:solicitud_insumo_new' %}" class="forms-inline" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="text-gray-700 text-center">Formulario de solicitud de donación de insumos</h6>
                    <div class="col-xl-6 col-md-6 mb-6">
                        <div class="row no-gutters align-items-center">
                            <div class="row">
                                <h6 class="text-gray-900"><strong>Dirección de recepción de la donación</strong></h6>
                                    <!-- <small class="text-danger">
                                        {{form.email.errors}}
                                    </small> -->
                                    <div class="form-group">
                                        <label > Calle y número </label>
                                        <input name="" >   
                                    </div>
                                    <h6 class="text-gray-900"><strong>Datos de la donación</strong></h6>
                                    <div class="form-control-user">
                                        {{ form.titulo.label }}
                                        {{form.titulo}}
                                    </div><br>
                                    {{ Insumo.as_p }}
                                    <h6 class="text-gray-900"><strong>Datos del archivo</strong></h6>
                                    <div class="form-control-user">
                                        {{ form.pedido.label }}
                                        {{form.pedido}}
                                    </div><br>
                                    <h6 class="text-gray-900 pt-2"><strong>Datos del profesional</strong></h6>
                                    <label > Seleccione el profesional que elaboro el pedido </label>
                                    <div class="form-control-user">
                                        <label>Profesional</label>
                                        {{form.veterinario}}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="items-align-center">
                        {{captcha}}
                    </div>
                <div class="border-top pt-3 text-right">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary"><span class="fa fa-undo"></span>
                            Cancelar</a>   
                    <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Aceptar </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
