{% extends 'base/base.html' %} {% block page_content %}
{% load static %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Reportes</h1>

    
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Donaciones Monetarias</div>
                            {% if donaciones_monetarias > 0 %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{donaciones_monetarias}}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Cantidad de insumos donados</div>
                            {% if donaciones_insumos > 0 %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{donaciones_insumos}}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-capsules fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="card-deck">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-scroll"></i> {{titulo1}} </h5>
                            </div>
                            <div class="col">
                                <a href="{% url 'reportes:reporte_solicitudes_pdf' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="float: right;"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="container1"></div>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-hand-holding-usd"></i> {{titulo3}} </h5>
                            </div>
                            <div class="col">
                                <a href="{% url 'reportes:reporte_donaciones_pdf' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="float: right;"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="container3"></div>
                </div>
            </div>
        </div>


    <div class="card-deck">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-users"></i></i> {{titulo2}} </h5>
                        </div>
                        <div class="col">
                            <a href="{% url 'reportes:reporte_usuarios_pdf' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="float: right;"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container2"></div>
            </div>
        </div>
    </div>

</div>

<script type="application/javascript">
    Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de solicitudes mensuales'
    },
    xAxis: {
        categories: [
            'Ene',
            'Feb',
            'Mar',
            'Abr',
            'May',
            'Jun',
            'Jul',
            'Ago',
            'Sep',
            'Oct',
            'Nov',
            'Dic'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cant. solicitudes '
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Solicitud monetaria',
        data: {{ solicitudes_monetarias|safe }}

    }, {
        name: 'Solicitud de insumos',
        data: {{ solicitudes_insumos|safe }}

    }]
});
</script>

<script type="application/javascript">
    Highcharts.chart('container3', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de donaciones mensuales'
    },
    xAxis: {
        categories: [
            'Ene',
            'Feb',
            'Mar',
            'Abr',
            'May',
            'Jun',
            'Jul',
            'Ago',
            'Sep',
            'Oct',
            'Nov',
            'Dic'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cant. donaciones '
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
        }
    },
    series: [{
        name: 'Donación monetaria',
        data: {{ donaciones_monetarias_mes|safe }}

    }, {
        name: 'Donación de insumos',
        data: {{ donaciones_insumos_mes|safe }}

    }]
});
</script>

<script type="application/javascript">
    // Radialize the colors
Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

// Build the chart
Highcharts.chart('container2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Cantidad de usuarios registrados'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                connectorColor: 'silver'
            }
        }
    },
    series: [{
        name: 'Share',
        data: [
            { name: 'Helpers', y: {{usuarios}} },
            { name: 'Organizaciones', y: {{organizaciones}} },
            { name: 'Veterinarios', y: {{veterinarios}} },
            { name: 'Clinicas', y: {{clinicas}} }
        ]
    }]
});
</script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

{% endblock %}