{% extends 'base/base.html' %} {% block page_content %}
{% load static %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Reportes</h1>

    
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Donaciones Monetarias</div>
                            {% if acumulador_monetarias > 0 %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{acumulador_monetarias}}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Cantidad de insumos donados</div>
                            {% if acumulador_insumos > 0 %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{acumulador_insumos}}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-capsules fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="card-deck">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-scroll"></i> {{titulo1}} </h5>
                                <br><form class="text-center" method="get">
                                    <div class="form-group row">
                                        <div>
                                            <label class="mr-2">Filtrar por fecha:  </label>
                                            <input type="date" name="fromDate1">
                                            <label> - </label>
                                            <input type="date" name="toDate1">
                                        </div>
                                        <div class="row">
                                            <label class="mr-2">Filtrar por solicitud:  </label>
                                            <div class="col">
                                                <div class="row btn-group-toggle" data-toggle="buttons">
                                                    <label class="col btn btn-outline-primary btn-sm active mr-2">
                                                      <input type="checkbox" name="solicitud_monetaria"> Monetaria
                                                    </label>
                                                    <label class="col btn btn-outline-primary btn-sm active">
                                                        <input type="checkbox" name="solicitud_insumos"> Insumos
                                                      </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary"> Buscar </button>
                                </form>
                            </div>
                            <div class="col">
                                <a href="{% url 'reportes:reporte_solicitudes_pdf' %}?fromDate1={{fromDate1}}&toDate1={{toDate1}}&monetaria={{solicitud_monetaria}}&insumos={{solicitud_insumos}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="float: right;"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">                                                                          
                    <div id="container1"></div>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-hand-holding-usd"></i> {{titulo3}} </h5>
                                <br><form class="text-center" method="get">
                                    <div class="form-group row">
                                        <div>
                                            <label class="mr-2">Filtrar por fecha:  </label>
                                            <input type="date" name="fromDate2">
                                            <label> - </label>
                                            <input type="date" name="toDate2">
                                        </div>
                                        <div class="row">
                                            <label class="mr-2">Filtrar por donacion:  </label>
                                            <div class="col">
                                                <div class="row btn-group-toggle" data-toggle="buttons">
                                                    <label class="col btn btn-outline-primary btn-sm active mr-2">
                                                      <input type="checkbox" name="donacion_monetaria"> Monetaria
                                                    </label>
                                                    <label class="col btn btn-outline-primary btn-sm active">
                                                        <input type="checkbox" name="donacion_insumos"> Insumos
                                                      </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary"> Buscar </button>
                                </form>
                            </div>
                            <div class="col">
                                <a href="{% url 'reportes:reporte_donaciones_pdf' %}?fromDate2={{fromDate2}}&toDate2={{toDate2}}&monetaria={{donacion_monetaria}}&insumos={{donacion_insumos}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="float: right;"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="container3"></div>
                </div>
            </div>
        </div>


    <div class="card-deck">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-users"></i></i> {{titulo2}} </h5>
                        </div>
                        <div class="col">
                            <a href="{% url 'reportes:reporte_usuarios_pdf' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="float: right;"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="container2"></div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
const chart = Highcharts.chart('container1', {
    title: {
        text: 'Cantidad de solicitudes mensuales'
    },
    xAxis: {
        categories: {{ meses1 |safe}}
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cant. solicitudes '
        }
    },
    series: [{
        type: 'column',
        name: 'Solicitud monetaria',
        colorByPoint: false,
        data: {{ solicitudes_monetarias |safe}},
        showInLegend: true
    },
    {
        type: 'column',
        name: 'Solicitud de insumos',
        colorByPoint: false,
        data: {{ solicitudes_insumos |safe}},
        showInLegend: true
    }]
});
</script>

<script type="application/javascript">
const chart2 = Highcharts.chart('container3', {
    title: {
        text: 'Cantidad de donaciones mensuales'
    },
    xAxis: {
        categories: {{ meses2 |safe}}
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cant. donaciones'
        }
    },
    series: [{
        type: 'column',
        name: 'Donacion monetaria',
        colorByPoint: false,
        data: {{ donaciones_monetarias |safe}},
        showInLegend: true
    },
    {
        type: 'column',
        name: 'Donacion de insumos',
        colorByPoint: false,
        data: {{ donaciones_insumos |safe}},
        showInLegend: true
    }]
});
</script>

<script type="application/javascript">
    // Radialize the colors
Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

// Build the chart
Highcharts.chart('container2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Cantidad de usuarios registrados'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                connectorColor: 'silver'
            }
        }
    },
    series: [{
        name: 'Share',
        data: [
            { name: 'Helpers', y: {{usuarios}} },
            { name: 'Organizaciones', y: {{organizaciones}} },
            { name: 'Veterinarios', y: {{veterinarios}} },
            { name: 'Clinicas', y: {{clinicas}} }
        ]
    }]
});
</script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

{% endblock %}