{% extends 'base/base.html' %} {% block side_bar %}{% endblock %} {% block top_bar %}{% endblock %} {% block page_content %}{% endblock %} {% block footer %}{% endblock %} {% block register %}

<!--<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0"> -->
<!-- Nested Row within Card Body -->
<!-- <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">¡Crea una Cuenta!</h1>
                            </div>
                            

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Apellido">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Dirección de email">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repita la Contraseña">
                                    </div>
                                </div>

                                { #{ form.as_p }#}
                                <a href="base.html" class="btn btn-primary btn-user btn-block">
                                    Registrarse
                                </a>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Registrese con Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Registrese con Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">¿Olvido su contraseña?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">¿Ya estas registrado? Inicia Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->

<form class="user" method="POST">
    {% csrf_token %} {{form.as_p}}
    <button type=submit>Acceder</button>
</form>
{% endblock %}