{% extends 'base/base.html' %}
{% block side_bar %} {% endblock  %}
{% block top_bar %} {% endblock %}
{% block page_content %}
<html lang="en">
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"><strong>¡Crea una cuenta!</strong></h1>
                                        <!-- <small class="text-danger">
                                            {% if form.errors %}
                                                 {% for field in form %}
                                                     {% if field.errors %}
                                                         {% for error in field.errors %}
                                                             {{ error|escape }}
                                                         {% endfor %}
                                                     {% endif %}
                                                 {% endfor %}

                                                 {% if form.non_field_errors%}
                                                     {% for error in form.non_field_errors %}
                                                         {{ error|escape }}
                                                     {% endfor %}
                                                 {% endif %}
                                             {% endif %}
                                         </small> -->
                                    </div>
                                    
                                    <div class="content-section">
                                        <form class="user" method="POST" action=".">
                                            {% csrf_token %}
                                                    <small class="text-danger">
                                                        {{form.DNI.errors}}
                                                    </small>
                                                    <div class="form-group">
                                                        <input pattern="^[\d]{1,3}\.?[\d]{3,3}\.?[\d]{3,3}$" title="El formato de DNI debe tener 8 caracteres numericos" class="form-control form-control-user" placeholder="DNI" name="DNI" >    
                                                    </div>
                                            
                                                    <div class="form-group row">
                                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                                            <small class="text-danger">
                                                                {{form.username.errors}}
                                                            </small>
                                                            <input type="text" class="form-control form-control-user" 
                                                                placeholder="Nombre" name="username" >
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <small class="text-danger">
                                                                {{form.apellido.errors}}
                                                            </small>
                                                            <input type="text" class="form-control form-control-user" id="exampleLastName"
                                                                placeholder="Apellido" name="apellido">
                                                        </div>
                                                    </div>
                                                    <small class="text-danger">
                                                        {{form.email.errors}}
                                                    </small>
                                                    <div class="form-group">
                                                        <input class="form-control form-control-user" placeholder="Email" name="email" >   
                                                    </div>

                                                    <small class="text-danger">
                                                        {{form.password1.errors}}
                                                    </small>

                                                    <small class="text-danger">
                                                        {{ form.password2.errors}}
                                                    </small>

                                                    <div class="form-group row">
                                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                                            <input type="password" class="form-control form-control-user" 
                                                                placeholder="Contraseña" name="password1">
                                                        </div>
                                                        
                                                        <div class="col-sm-6">
                                                            <input type="password" class="form-control form-control-user" id="exampleLastName"
                                                                placeholder="Repita la contraseña" name="password2">
                                                        </div>
                                                        
                                                    </div>  
                                                    
                                                    <div class="pt-3">
                                                        <small class="text-danger">
                                                            <ul>
                                                                <li>Debe tener como mínimo 8 caracteres.</li>
                                                                <li>No puedo contener datos personales.</li>
                                                                <li>Ignacio</li>
                                                                <li>Elena</li>
                                                            </ul>
                                                        </small>
                                                    </div>
                                                    <div class="text-center">
                                                        <button class="btn btn-primary btn-user btn-block" type="submit">Registrar</button>
                                                    </div>
                                                    <hr>
                                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                                        <i class="fab fa-google fa-fw"></i> Registrarse con Google
                                                    </a>
                                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                        <i class="fab fa-facebook-f fa-fw"></i> Registrarse con Facebook
                                                    </a>
                                                    <br>
                                                                        
                                                </form>
                                            </div>    
                                        </form>
                                    
                                        <div class="border-top pt-3">
                                            <small class="text-muted">
                                                <div class="text-center">
                                                    ¿Ya tiene una cuenta? <a class="ml-2" href="{% url 'bases:login' %}">Inicie Sesión</a>
                                                </div>
                                            </small>
                                        </div>
                                    </div>
                                </div>    
                            </div>    
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
{% block footer %} {% endblock %}
</html>
