{% extends 'base/base.html' %}
{% block side_bar %} {% endblock  %}
{% block top_bar %} {% endblock %}
{% block page_content %}
{% load static %}

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img style="width:40%" src="{% static 'base/img/final2.png' %}">
                                        <h1 class="h4 text-gray-900 mb-2"><strong>¿Olvidaste tu contraseña?</strong></h1>
                                        <p class="mb-4">Ingresa tu dirección de email y te enviaremos un link para que 
                                            puedas restablecer tu contraseña.
                                        </p>
                                    </div>
                                    <form class="user text-center" action="{% url 'usuario:resetear_contraseña' %}" method="POST">
                                        {% csrf_token %}

                                        {{form.as_p}}
                                        <input type="submit" class="btn btn-primary btn-user btn-block" name="Restablecer contraseña">
                                            
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'usuario:registrar' %}">¡Crea una cuenta!</a>
                                    </div>
                                    <div class="text-center">
                                        <small class="text-muted">
                                            ¿Ya tiene una cuenta? <a  href="{% url 'bases:login' %}"> ¡Inicie sesión!</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
{% endblock %}
{% block footer %} {% endblock %}