{% extends 'base/base.html' %} {% block page_content %}
{% load static %}
<div class="container text-center" style="margin-bottom: 20px;">
            {% if obj.foto %}
            <img class="img-profile rounded-circle" src="{{ obj.foto.url }}" style="width:100px">
            {% else %}
            <img class="img-profile rounded-circle" src="{% static 'base/img/undraw_profile.svg' %}" style="width:100px">
            {% endif %}
        <div class="col-xs-3">
            <h1 class="h3 text-gray-900">{{ obj.username }} {{ obj.apellido }}</h1>
        </div>
    <a href="{% url 'usuario:usuario_edit' obj.id %}" class="m-0 font-weight-bold text-primary"><i class="fas fa-user-edit"></i> Editar Perfil</a><br>
    <a href="{% url 'usuario:usuario_cambiar_contraseña' %}" class="m-0 font-weight-bold text-primary"><i class="fas fa-edit"></i>Cambiar contraseña</a>
</div>

<div class="container text-center">
    {% if obj.DNI %}
    <div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
        <div class="card-body text-gray-900">
        <p class="card-text">
            <i class="fas fa-fingerprint"></i> 
            DNI: {{ obj.DNI }} 
            </p>
        </div>
    </div>
    {% endif %}


    <div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
        <div class="card-body text-gray-900">
        <p class="card-text"><i class="fas fa-envelope-open-text"></i> Email: {{ obj.email }} </p>
        </div>
    </div>

    {% if obj.telefono %}
    <div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
        <div class="card-body text-gray-900">
        <p class="card-text"><i class="fas fa-phone"></i> Telefono: {{ obj.telefono }} </p>
        </div>
    </div>
    {% endif %}

</div>


{% endblock %}