{% extends 'base/base.html' %} {% block page_content %}
{% load static %}
<div class="container" style="text-align: center;margin-bottom: 20px;">
    <div class="row">
        <div class="col-sm-3" style="margin-left: 150px;">
            {% if obj.foto %}
            {{ obj.foto }}
            {% else %}
            <img class="img-profile rounded-circle" src="{% static 'base/img/undraw_profile.svg' %}" style="width:100px">
            {% endif %}
        </div>
        <div class="col-xs-3" style="margin-left: 50px;">
            <h1 class="h3 text-gray-900">{{ obj.username }} {{ obj.apellido }}</h1>
        </div>
    </div>   
    <a href="{% url 'usuario:usuario_edit' obj.id %}" class="m-0 font-weight-bold text-primary"><i class="fas fa-user-edit"></i> Editar Perfil</a>
</div>

<div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
    <div class="card-body text-gray-900">
      <p class="card-text"><i class="fas fa-fingerprint"></i> DNI: {{ obj.DNI }} </p>
    </div>
</div>

<div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
    <div class="card-body text-gray-900">
      <p class="card-text"><i class="fas fa-envelope-open-text"></i> Email: {{ obj.email }} </p>
    </div>
</div>

<div class="card border-dark mb-3" style="max-width: 50rem;text-align: center;margin-left: 130px;">
    <div class="card-body text-gray-900">
      <p class="card-text"><i class="fas fa-phone"></i> Telefono: {{ obj.telefono }} </p>
    </div>
</div>

{% endblock %}