{% extends 'base/base.html' %}
{% block side_bar %} {% endblock  %}
{% block top_bar %} {% endblock %}
{% block page_content %}
{% load static%}
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"> </div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img style="width:40%" src="{% static 'base/img/final2.png' %}">
                                        <h1 class="h4 text-gray-900 mb-4"><strong>La verificación no se ha podido completar</strong></h1>
                                    </div>
                                    
                                    <div class="content-section">
                                        <p class="mb-4">
                                            Ocurrió un error y no hemos podido verificar tu cuenta. Ingresa de nuevo tus datos para enviarte otro link de activación.
                                        </p>

                                        <div class="text-center">
                                            <a class="small" href="{% url 'usuario:registrar' %}">Crea una cuenta</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
{% block footer %} {% endblock %}
